html {
  max-width: 2000px;
}

body {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}

nav {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul {
  width: 100%;
}

li {
  list-style: none;
  padding-right: 2%;
}

footer {
  text-align: center;
}

address a {
  display: inline;
}

time {
  display: inline;
}

span {
  font-family: sans-serif;
  font-weight: bold;
  color: black;
}
