html {
  max-width: 2000px;
  height: 100%;
  width: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

hr {
  display: none;
}

section {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  background-color: lightgrey;
  color: black;
}

select {
  padding: em;
}

a {
  text-decoration: none;
}

ul {
  width: 100%;
}

li {
  list-style: none;
  padding-right: 2%;
}

footer {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
}

address a {
  display: inline;
}

time {
  display: inline;
}

span {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}
