.icon-menu {
  text-align: center;
  font-size: 2em;
}

.icon-menu:hover {
  color: grey;
  cursor: pointer;
}

.tab-content {
  margin-top: 3%;
}

.tab {
  list-style: none;
  display: none;
}

.contactLink {
  display: flex;
  justify-content: center;
}

.byLine {
  display: flex;
}

.main-nav {
  display: flex;
  justify-content: center;
  padding: 0%;
}

.site-header {
  padding-top: 2%;
}

#navLinks {
  text-align: center;
  padding-left: 0;
}

#myContainer {
  display: flex;
  justify-content: center;
  height: 10rem;
}
