#authorLink {
  margin-left: .25em;
  margin-right: .25em;
}

#me {
  border-radius: 100%;
  border: solid black 4px;
  height: 100%;
  margin: 0 auto;
}

#traits {
  text-align: center;
}

#myName {
  text-align: center;
}

#about {
  text-align: center;
}

#interests li {
  display: block;
}
