header {

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

footer {
  text-align: center;
}

ul {
  padding: 0;
}

.icon-menu {
  font-size: 3em;
  display: none;
}

.tab {
  list-style: none;
  display: inline;
}

.contactLink {
  display: flex;
  justify-content: center;
}

#navLinks {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

#myContainer {
  display: flex;
  justify-content: center;
  height: 10rem;
}

#me {
  border-radius: 100%;
  height: 100%;
  margin: 0 auto;
}

#traits {
  text-align: center;
}

#myName {
  text-align: center;
}

#about {
  text-align: center;
}

#interests li {
  display: block;
}
